.simulador {
  background-color: #bb7d7d;

}

.submit {
  background-color: #c5ae96;
  border-color: #e2cfbb;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.submit:hover {
  background-color: #bb7d7d;
}

.center{
  text-align: center;
}

.input-bar{
  margin: 10px;
  border-radius: 5px;

}