@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


body {
    font-family: 'Lato', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    /* Estilos adicionales para los títulos */
  }
  
  p {
    font-family: 'Lato', sans-serif;
    /* Estilos adicionales para los párrafos */
  }
  
  .testimonial-image-container {
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 250px;
  }
  
  .testimonial-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }