@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


body {
    font-family: 'Lato', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    /* Estilos adicionales para los títulos */
  }
  
  p {
    font-family: 'Lato', sans-serif;
    /* Estilos adicionales para los párrafos */
  }
  
  .testimonial-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
    clip-path: circle(30% at center);
  }
  
  .testimonial-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .testimonial-image {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
  }
  